header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bangkok.png);
    // background-image: url(../img/bangkok.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

// header.masthead::before{
//   background:rgba(0, 0, 0, 0.75);
// }

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
